<div class="footer-col">
  <div class="footer__logo">
    <img src="../../assets/img/logo-ngang.png" alt="" />
  </div>
  <div class="footer-item">
    <span class="footer-item__icon"
      ><i class="fa-solid fa-location-dot"></i></span
    ><span class="footer__text"
      >669 QL 1A, Khu Pho 3, Phuong Linh Xuan, Thu Duc, TP. HCM
    </span>
  </div>
  <div class="footer-item">
    <span class="footer-item__icon"><i class="fa-solid fa-clock"></i></span
    ><span class="footer-item__text">08:00 AM - 10:00 PM </span>
  </div>
  <div class="footer-item">
    <span class="footer-item__icon"
      ><i class="fa-solid fa-phone-volume"></i></span
    ><span class="footer-item__text">(84) 0224323344 (Mr. John) </span>
  </div>
</div>
<div class="footer-col">
  <div class="footer-link">
    <a class="footer-link__item" href="#">Company </a>
    <a class="footer-link__item" href="#">Partner with us </a>
    <a class="footer-link__item" href="#">FAQ </a>
    <a class="footer-link__item" href="#">Blog </a>
  </div>
</div>
<div class="footer-col">
  <div class="footer-link">
    <a class="footer-link__item" href="#">About us </a>
    <a class="footer-link__item" href="#">Parner with us </a>
    <a class="footer-link__item" href="#">Feature </a>
    <a class="footer-link__item" href="#">News </a>
  </div>
</div>
<div class="footer-col">
  <div class="footer-link">
    <a class="footer-link__item" href="#">Support </a>
    <a class="footer-link__item" href="./log-in.html">Login </a>
    <a class="footer-link__item" href="./discount.html">Voucher </a>
    <a class="footer-link__item" href="./blog.html">Blog </a>
  </div>
</div>
<div class="footer-col">
  <div class="footer-link">
    <a class="footer-link__item" href="#">Get in touch </a>
    <a class="footer-link__item" href="#">Question? </a>
  </div>
</div>
