<div class="header__logo">
  <img src="./assets/img/logo-ngang.png" alt="" />
  <ul class="header__menu-list">
    <i class="btn-menu bx bx-menu"></i>
  </ul>
</div>
<ul class="header__menu-list">
  <li class="menu-list__item">
    <a href="" class="header__menu-link">
      <span class="menu-list__text">Home</span>
      <span></span>
    </a>
  </li>

  <li class="menu-list__item" href="#">
    <a href="" class="header__menu-link">
      <span class="menu-list__text">About us</span></a
    >
  </li>
  <li class="menu-list__item">
    <a href="" class="header__menu-link">
      <span class="menu-list__text">All dishes</span>
      <img class="menu-list__gif" src="./assets/img/orders-now.gif" alt=""
    /></a>
  </li>
  <li class="menu-list__item">
    <span class="menu-list__text">Others</span>
    <span><i class="fa-solid fa-angle-down"></i> </span>
  </li>
</ul>
<div class="header__action">
  <div class="header__cart">
    <img src="./assets/icon/cart.png" alt="" />
    <span class="header__cart--num">99+</span>
  </div>
  <div class="header__signin">
    <a href="./app/pages/log-in.html" class="btn-signin btn">
      <i class="fa-solid fa-arrow-right-to-bracket"></i><span>Signin</span>
    </a>
  </div>
</div>
