<div class="header__logo">
  <a href="/"><img src="../../assets/img/logo-ngang.png" alt="" /></a>
  <ul class="header__menu-list">
    <i class="btn-menu bx bx-menu"></i>
  </ul>
</div>

<div class="search-header">
  <i class="search-icon bx bx-search"></i>
  <input placeholder="Search for food" type="text" />
  <i class="search-icon bx bx-x"></i>
</div>
<div class="header__action">
  <div class="header__cart">
    <img src="../../assets/icon/cart.png" alt="" />
    <span class="header__cart--num">99+</span>
  </div>
  <div class="header__signin">
    <a href="./log-in.html" class="btn-signin btn">
      <i class="fa-solid fa-arrow-right-to-bracket"></i><span>Signin</span>
    </a>
  </div>
</div>
