:root{
    --primary-color:rgb(26, 192, 115);
    --primary-color-overlay:rgba(26, 192, 115,0.12);
    --secondary-color:rgb(243, 186, 0);
    --color-hover:rgba(243, 186, 0,0.4);
    --background-color-light:#ffffff;
    --pd-container:150px;
    --heading-size-medium: 2.6rem;
    --heading-size-lg: 7rem;
    --content-size-medium: 2.5rem;
    --content-size-normal:14px;
   
}
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

body,html {
font-size:62.5%;
font-family: roboto,sans-serif;
box-sizing: border-box;
}
input{
    box-sizing: border-box;
}
/* Custom Input, select */
select{
    outline:none; 
    font-size:var(--content-size-normal);
    border: 1px solid #5A5B6A;
    border-radius: 4px; 
    padding: 12px 6px;
    color: #787885;
}
.input-label{
    position:absolute;
    background-color: var(--background-color-light);
    top: -20%;
    left: 12px;
    font-size:var(--content-size-normal);
    padding:0 3px;
    text-transform:uppercase;
}
.container{
/* padding: 0 100px; */
font-size: 1.8rem;
}
.header-container{
    position:fixed;
    width: 100%;
    z-index: 10;
    background-color: #92E3A9;

}
.header__bg{
    /* position: relative; */
    z-index: 100;
  
}
#header{
    padding: 10px var(--pd-container);
    height: 50px;
    display: flex;
    justify-content:space-between;
    align-items:center;
    font-size:1.8rem;
}
.header__menu-list, .header__action{
    display: flex;
}
.menu-list__item:not(:first-child), .header__signin{
    margin-left:20px;
}
.menu-list__icon{
    width:20px;
}
.menu-list__item{
    position: relative;
    cursor: pointer;
}
.menu-list__gif{
    position: absolute;
    height:20px;
    right:-15px;
    top: -15px;
}
.header__signin{
    background-color: var(--secondary-color);
    padding:12px 18px;
    border-radius: 20px;
    color: #fff;
    display: flex;
    cursor: pointer;
}
.header__signin i{
    margin-right: 10px;
}
.btn-signin{
    color: #ffffff;
}
.header__action{
    align-items: center;
}
.header__cart{
    position: relative;
}
.header__cart img{
    height:34px;
}
.header__cart--num{
position:absolute;
width: 22px;
height: 18px;
background-color:#F15845;
color: #fff;
font-size:1rem;
border-radius:50%  ;
top: 0;
right: 0;
display:flex;
align-items:center;
padding: 1px;
justify-content:center
}