
.header__logo{
    display: flex;
    align-items: center;
}
.btn-menu{
font-size:5rem;
margin-left: 40px;
position: relative;
bottom: -3px;
}
.search-header{
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 50px;
    padding: 10px 16px;
}
.search-header input{
    background-color: transparent;
    min-width:372px;
    margin-left:7px;
    font-size: 1.6rem;
}
.container-body{
    margin-top: var(--menu-height);
    padding-left: var(--pd-container);
    padding-right: var(--pd-container)  ;
    background-color: #E3F7EE;
}
.search-icon{
font-size:2rem;
}
.search-icon.bx-x{
    color: var(--primary-color);
}
#breadcrumb{
padding-top: 17px;
}
#breadcrumb .back-link{
color: var(--primary-color);
}
#breadcrumb .breadcrumb-icon{
    margin: 0 3px;
}

@media only screen and (max-width: 768px) {
    body{
        box-sizing: border-box;
    }
        header{
            padding: 10px;
            /* flex-direction: column; */
            /* height: 50px; */
        }
        .search-header{
            display: none;
        }
        .header__logo img{
            width:190px;
        }
        .header__signin{
            display: none;
        }
        .btn-menu{
            margin-left: 10px;
            font-size:4rem;
        }
  }