.header__logo{
    display: flex;
    align-items: center;
}
.btn-menu{
font-size:5rem;
margin-left: 40px;
position: relative;
bottom: -3px;
}
.search-header{
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 50px;
    padding: 10px 16px;
}
.search-header input{
    background-color: transparent;
    min-width:372px;
    margin-left:7px;
    font-size: 1.6rem;
}
.container-body{
    margin-top: var(--menu-height);
    padding-left: var(--pd-container);
    padding-right: var(--pd-container)  ;
}
.search-icon{
font-size:2rem;
}
.search-icon.bx-x{
    color: var(--primary-color);
}
#breadcrumb{

}