body{
    background-color: #E3F7EE;
}
.container-body{
    margin-top: calc(var(--menu-height) + 17px);
}
.main-page{
    display: flex;
}
.main-filter{
    flex: 1;
}
.filter-infor-container{
    background-color: #fff;
    margin-top: 15px;
    padding: 0px 15px 15px 15px;
    border-radius: 7px;
}
.result-filter__txt span{
    color: #FB8200;
}
.filter__heading{
    font-weight: bold;
    padding-top: 10px;
}
ol ol{
    margin-left: 10px;
}
ol,li{
    margin: 10px 0px;
}
.category__btn{
    background-color: #fff;
    border: 0.5px rgba(25, 25, 29, 0.3) solid;
    padding: 3px;
}
.filter-infor__price{
    display: flex;
}
.filter-infor__price input{
    width: 60px;
    flex: 1;
    border: 0.5px rgba(25, 25, 29, 0.3) solid;
    padding: 3px;
}
.filter-infor__price label{
    flex: 1;
}
.main-result{
    flex: 3.5;
    margin-top: 20px;
    margin-left: 10px;
}
.related-container input{
    background-color: #fff;
    padding: 7px 20px;
    height: 37px;
    border-radius: 20px;
    margin-left: 10px;
    margin-bottom: 10px;

}
.related-container input:nth-child(1){
    background-color: #FB8200;
    color: #fff;
}
.products-container{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    }
.product-thumb__rating{
        /* display:flex; */
        margin-top:10px;
        /* justify-content:center; */
        /* align-items: center; */

    }

   
    /* product item */

/* End product cart item */
@media only screen and (max-width: 768px) {
    .main-page{
        flex-direction: column;
    }
    body{
        box-sizing: border-box;
    }
    
    .container-body{
        padding: 10px;
    }
    .filter-container__heading{
        display: none;
    }
  
}